<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MaSalle{% endblock %}</title>

    <link rel="icon" type="image/svg" href="{{ asset('assets/image/logo.svg') }}"/>

    {{ encore_entry_link_tags('app') }}

    {% block stylesheets %}{% endblock %}
</head>
<body>

{% include "components/navbar.html.twig" %}

<div>
    {% include "components/header.html.twig" %}

    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
