{% include 'base.html.twig' %}

{% block body %}
    {% if vm.errorMessage is not null %}
        {{ vm.errorMessage }}
    {% endif %}
    <form method="post">
        <input name="username" type="email" value="{{ vm.lastUsername }}" placeholder="Adresse email" required />
        <input name="password" type="password" required />
        <button>Se connecter</button>
    </form>

{% endblock %}
