{% include 'base.html.twig' %}

{% block body %}
    {% if vm.errorMessage is not null %}
        {{ vm.errorMessage }}
    {% endif %}
    <form method="post" class="login-form">
        <label>
            Adresse email :
            <input name="username" type="email" value="{{ vm.lastUsername }}" placeholder="Adresse email" required />
        </label>
        <label>
            Mot de passe :
            <input name="password" type="password" required />
        </label>
        <div>
            <a href="{{ path('ask_password_reset') }}" class="">Mot de passe oublié ?</a>
        </div>
        <button>Se connecter</button>
    </form>

{% endblock %}
