<section class="py-48 px-4 bg-banner-bg bg-cover bg-no-repeat bg-center mb-10">

    <div class="text-white uppercase font-bold text-5xl md:text-8xl lg:text-8xl xl:text-8xl 2xl:text-8xl text-right pr-10">

        <h1>Best
            <br>
            Fitness
        </h1>
        <h2>Gym</h2>

    </div>

    <div class="flex justify-end pr-10 mt-3">
        <a href="#tarifs" class="text-white uppercase rounded-lg bg-pink-600 px-4 py-2 hover:bg-transparent border border-pink-600">Les tarifs</a>
    </div>

</section>